<!-- Add the timeline -->
<vertical-timeline>

    <vertical-timeline-card [dateValue]="setDate(2018, 8)" [timebox] = "'2018'">
     <h2> <fa-icon [icon]="['fas', 'code']" size="sm"></fa-icon> Automation Developer</h2>
     <h2>@Finastra, Mississauga, ON</h2>
    </vertical-timeline-card>
  
    <vertical-timeline-card [dateValue]="setDate(2017, 8)"[timebox] = "'2017'">
      <h2> <fa-icon [icon]="['fas', 'university']" size="sm"></fa-icon> Research Assistance & Software Developer</h2>
      <h2>@Trent University, Toronto, On</h2>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="setDate(2016, 0)"[timebox] = "'2016'">
        <h2> <fa-icon [icon]="['fas', 'mobile-alt']" size="sm"></fa-icon> Sales Representative</h2>
        <h2>@Telus, Toronto, On</h2>
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="setDate(2015, 0)"[timebox] = "'2015'">
            <h2> <fa-icon [icon]="['fas', 'dice-three']" size="sm"></fa-icon>  Game Table Dealer</h2>
            <h2>@Grand Villa Casino, Vancouver, BC</h2> 
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="setDate(2014, 0)"[timebox] = "'2014'">
            <h2> <fa-icon [icon]="['fas', 'user-lock']" size="sm"></fa-icon>  Security Guard</h2>
            <h2>@Suncor Energy, Fort Mcmurray, AB</h2> 
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="setDate(2013, 0)"[timebox] = "'2013'">
        <h2> <fa-icon [icon]="['fas', 'utensils']" size="sm"></fa-icon>  Cook</h2>
        <h2>@Melita Motor Inn, Melita, MB</h2> 
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="setDate(2011, 0)"[timebox] = "'2011'">
        <h2> <fa-icon [icon]="['fas', 'fish']" size="sm"></fa-icon> Dishwasher</h2>
        <h2>@Bay Sushi Cafe, Vancouver, BC</h2> 
    </vertical-timeline-card>

    <vertical-timeline-card [dateValue]="setDate(2008, 0)"[timebox] = "'2008'">
        <h2> <fa-icon [icon]="['fas', 'fist-raised']" size="sm"></fa-icon> Sergeant</h2>
        <h2>@Republic of Korea Army, South Korea</h2> 
    </vertical-timeline-card>
  
  </vertical-timeline>

  <p>This is what I'm all about. <a href="" (click)="sendMeHome()"><strong>Take me back</strong></a>.</p>