<div class = "container h-100">
  <div class = "row h-100 pt-5 justify-content-center align-items-center text-center">

      <div class="col-sm-2" >
        <fa-icon [icon]="['fab', 'angular']" size="6x"></fa-icon>
        <h4>Angular</h4>
      </div>

      <div class="col-sm-2">
        <fa-icon [icon]="['fab', 'react']" size="6x"></fa-icon>
        <h4>React</h4>
      </div>
      
      <div class="col-sm-2">
          <fa-icon [icon]="['fab', 'js']" size="6x"></fa-icon>
          <h4>Javascript</h4>
      </div>

      <div class="col-sm-2">
          <fa-icon [icon]="['fab', 'python']" size="6x"></fa-icon>
          <h4>Python</h4>
      </div>
      
      <div class="col-sm-2">
          <fa-icon [icon]="['fab', 'java']" size="6x"></fa-icon>
          <h4>Java</h4>
      </div>
    </div>

     <div class = "row h-100 pt-5 justify-content-center align-items-center text-center">  
      <div class="col-sm-2">
          <fa-icon [icon]="['fab', 'node-js']" size="6x"></fa-icon>
          <h4>NodeJS</h4>
      </div>

      <div class="col-sm-2">
          <fa-icon [icon]="['fab', 'npm']" size="6x"></fa-icon>
          <h4>NPM</h4>
      </div>
      
      <div class="col-sm-2">
          <fa-icon [icon]="['fab', 'github']" size="6x"></fa-icon>
          <h4>Github</h4>
      </div>

      <div class="col-sm-2">
          <fa-icon [icon]="['fab', 'html5']" size="6x"></fa-icon>
          <h4>HTML5</h4>
      </div>

      <div class="col-sm-2">
          <fa-icon [icon]="['fab', 'gulp']" size="6x"></fa-icon>
          <h4>Gulp</h4>
      </div>

      <div class="col-sm-12" style="padding-top: 100px" >
          <button type="button" class="btn btn-outline-dark" onclick="location.href='/assets/Danny_Yu_Resume.pdf'" >
          <fa-icon [icon]="['fas', 'file']" size="6x"></fa-icon>
          <fa-layers-text content="Resume" style="color: white;" transform="shrink-5 down-30"></fa-layers-text>
        </button>
          <h4 class ="pt-2">Resume</h4>
      </div>

  </div>
</div>


